.card-img-top {
    height: 200px; /* Ajusta la altura según tus necesidades */
    object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
}

.card-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Número de líneas que quieres mostrar */
    overflow: hidden;
    text-overflow: ellipsis; /* Agrega "..." al final si el texto es demasiado largo */
}