{% extends 'web/layout/base.html' %}
{% block body_class %}solid-navbar{% endblock %}

{% block content %}
<div class="container mt-2 py-5">
<section class="py-5 bg-light">
    <h2 class="fw-bolder text-center">Bienvenido 'Nombre Cliente'</h2>
    <p class="text-center">Mira Nuestro Catalogo de suscriptor</p>

    <div class="row">
        {% for flan in flanes %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ flan.image_url }}" class="card-img-top" alt="{{ flan.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ flan.name }}</h5>
                    <p class="card-text">{{ flan.description }}</p>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No hay flanes privados disponibles.</p>
        {% endfor %}
    </div>
</section>
</div>
{% endblock %}
